@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f3f3f3;
}


/* Google chrome */
@-webkit-keyframes toWhite {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #f3f3f3;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #f3f3f3;
  }
}

@-webkit-keyframes toGreen {
  0%,100% {
    fill: #abbd95; 
  }
}

/* Most browsers */
@keyframes toWhite {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #f3f3f3;
  }
  70%,100% {
    stroke-dashoffset: 0;
    fill: #f3f3f3;
    
    
  }
}

@keyframes toGreen {
  0%,100% {
    fill: #abbd95;
  }
}


section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar {
  height: 12vh;
  width: 66.67%; 
  margin: 0 auto; 
  position: relative;
  overflow: hidden;
  z-index: 4;
}

.NavBar.animate::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #706f6f;
  animation: growBorder 0.5s ease-out 1s forwards;
}

.NavBar.final {
  border-bottom: 1px solid #706f6f;
}

@keyframes growBorder {
  from {
    width: 0;
    left: 50%;
  }
  to {
    width: 100%;
    left: 0;
  }
}

.nav-button {
  position: 'absolute';
  margin-top: -15px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  padding-top: 20px;
  font-weight: bold; 
  font-size: 1.4em;  
  
  
  transition: background-position 0.5s, transform 0.5s;
  background-size: 100% 200%; 
}

.nav-button.animate {
  opacity: 0;
  transform: translateY(0vh);
  animation: fadeButton 1s ease-in-out 1s forwards; 
  transition: background-color 0.7s ease, transform 0.7s ease;
}

.nav-button.final {
  opacity: 1;
  transform: translateY(5vh);
  transition: background-color 0.7s ease, transform 0.7s ease;

}
.nav-button.final:hover, .nav-button.animate:hover {
  color: #abbd95;
  background-position: 0% -100%; 
  transform: scale(1.1) translateY(4vh); 
}

@keyframes fadeButton {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(5vh);
  }
}
